ul {
  padding-left: 0;
}

li {
  text-decoration: none;
  padding: 0;
  margin: 12px;
  display: block;
}

body {
  background-color: #f9fafc;
  font-family: "Open Sans", sans-serif;
}

a {
  text-decoration: none;
}

.top-portion {
  color: #69696a;
  margin: auto;
}

.gray-line {
  border-left: 2px solid #69696a;
  color: #69696a;
  text-align: left;
  font-size: 12px;
  margin-bottom: 24px;
  padding-left: 9px;
}
.buttons {
  color: #fff;
  padding: 1px 7px 2px;
}
button {
  border: #000 solid;
  text-align: center;
  background-color: #000;
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  height: 36px;
  width: 100%;
  border-radius: 30px;
}
